{{#partial "content"}}
    <h1>About Us</h1>


    <p>This is a blog posting and displayer built using Java for back-end logic, Spark, Templates(html) and CSS for the User Interface</p>
    <p>Cheers!</p>

    <h3>Developers: </h3>
    <p>Abel Berhane</p>
    <p>Victor Teka</p>
    <p>Peter Keith</p>

{{/partial}}


{{> layout.hbs}}