<!DOCTYPE html>
<html>
<head>
    <title>{{#block "title"}}BlogApp{{/block}}</title>
    <link rel="stylesheet" href="/app.css">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
</head>
<body>
<nav class="navbar navbar-inverse">
    <div class="row">
        <div class="col-md-4">
        <img class="logo" src="/images/blog.jpeg">
    </div>
    <div class="links col-md-8">
        <h1>Welcome to my Blog Site.</h1>
        <a href="/">Home             .</a>
        <a href="/posts/new">Post a Blog      .</a>
        <a href="/about">About Us     .</a>

    </div>
    </div>
</nav>
<ul>
<!--    <li><a href="/posts">See All Posts</a></li>-->
    <li class="list"><a href="/posts/new">Click here to Add a New Post!</a></li>
</ul>

<div class="container">




    <hr>
    {{#block "content"}}
    {{/block}}

</div>

{{#block "footer"}}
    </body>
    </html>
{{/block}}
